* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-color: #333;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    color: #f0f0f0;
    font-size: 5em;
    font-weight: 400;
    font-family: Candara, Calibri, Segoe, Segoe UI, Optima, Arial, sans-serif;
}

.rating {
    display: flex;
    transform: rotateY(180deg);
}

.rating input{
    display: none;
}

/* Making an empty layer of stars to cover it latter with another layer of stars to appear as if it fills the empty star */
.rating label::before {
    content: "\2605";
    display: block;
    position: relative;
    font-size: 6em;
    color: #101010;
  }

/* Make a layer of golden stars to cover the basic layer of the empty
    stars and make it transparent until the user clicks or hovers it */
.rating label::after{
    content: "\2605";
    display: block;
    position: absolute;
    top: 0;
    font-size: 6em;
    color: #F5AB3E;
    opacity: 0;
    transition: .5s;
    text-shadow: 0 2px 5px rgba(0, 0, 0, .5);
}
        
/**  
    * Setting background color to the star if the user hovers the star.
    * Setting background color to the star and to the siblings stars 
before the star that the user hovers it.
    * Setting background color to the star and to the siblings stars
before the star that the user clicks it if the user clicks one of the 
stars.
**/
.rating label:hover::after,
.rating input:hover ~ label::after,
.rating input:checked ~ label::after{
    opacity: 1;
    }