
/* Make a layer of golden stars to cover the basic layer of the empty
    stars and make it transparent until the user clicks or hovers it */
.rating label::after{
    content: "\2605";
    display: block;
    position: absolute;
    top: 0;
    font-size: 6em;
    color: #F5AB3E;
    opacity: 0;
    transition: .5s;
    text-shadow: 0 2px 5px rgba(0, 0, 0, .5);
}
    
/**  
    * Setting background color to the star if the user hovers the star.
    * Setting background color to the star and to the siblings stars 
before the star that the user hovers it.
    * Setting background color to the star and to the siblings stars
before the star that the user clicks it if the user clicks one of the 
stars.
**/
.rating label:hover::after,
.rating input:hover ~ label::after,
.rating input:checked ~ label::after{
    opacity: 1;
}