<!DOCTYPE html>
<head>
    <link rel="stylesheet" type="text/css" href="../Style/RateUs.css">
</head>
<body>
    <h1 class="title">Rate Us</h1>
    <div class="rating">
        <input type="radio" name="star" id="star01"><label for="star01"></label>
        <input type="radio" name="star" id="star02"><label for="star02"></label>
        <input type="radio" name="star" id="star03"><label for="star03"></label>
        <input type="radio" name="star" id="star04"><label for="star04"></label>
        <input type="radio" name="star" id="star05"><label for="star05"></label>
    </div>
    <h3 style="color:white;">Instagram: @oechslerb</h3>
</body>